# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars1 = pd.read_csv(url1, sep=',')
cars2 = pd.read_csv(url2, sep=',')
#print(cars1.head())
#print(cars2.head())

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1.dropna(axis=1, inplace=True)
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [6]:
cars1.info()
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = pd.concat([cars1, cars2])
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null int64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model           398 non-null int64
origin          398 non-null int64
car             398 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
owners = pd.Series(np.random.randint(15000, 73000, size=(len(cars),)))
owners.head()

0    58757
1    57618
2    17053
3    30845
4    67371
dtype: int64

### Step 8. Add the column owners to cars

In [14]:
cars['owners'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,58757
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,57618
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,17053
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,30845
4,17.0,8,302,140,3449,10.5,70,1,ford torino,67371