# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"
called = pd.read_csv(url)
called.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

### Step 5. Set the column Date as the index.

In [3]:
called.set_index('Date', drop=True, inplace=True)
called.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 6. What is the type of the index?

In [5]:
called.index

Index(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26', '2013-01-02',
       '2013-01-09', '2014-04-02', '2014-04-09', '2014-04-16', '2014-04-23',
       '2014-04-30', '2014-05-07', '2014-05-14', '2014-05-21', '2014-05-28',
       '2014-06-04', '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
       '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13', '2014-08-20',
       '2014-08-27', '2014-09-03', '2014-09-10', '2014-11-05', '2014-11-12',
       '2014-11-19', '2014-11-25', '2015-01-07', '2015-01-14', '2015-01-21',
       '2015-01-28', '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
       '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
      dtype='object', name='Date')

### Step 7. Set the index to a DatetimeIndex type

In [8]:
called.index = pd.to_datetime(called.index, infer_datetime_format=True)
type(called.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [16]:
s = called.resample('M').sum()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,False,False,False,False,False,False,False,False
2012-12-12,False,False,False,False,False,False,False,False
2012-12-19,False,False,False,False,False,False,False,False
2012-12-26,False,False,False,False,False,False,False,False
2013-01-02,False,False,False,False,False,False,False,False
2013-01-09,False,False,False,False,False,False,False,False
2014-04-02,False,False,False,False,False,False,False,False
2014-04-09,False,False,False,False,False,False,False,False
2014-04-16,False,False,False,False,False,False,False,False
2014-04-23,False,False,False,False,False,False,False,False
2014-04-30,False,False,False,False,False,False,False,False
2014-05-07,False,False,False,False,False,False,False,False
2014-05-14,False,False,False,False,False,False,False,False
2014-05-21,False,False,False,False,False,False,False,False
2014-05-28,False,False,False,False,False,False,False,False
2014-06-04,False,False,False,False,False,False,False,False
2014-06-11,False,False,False,False,False,False,False,False
2014-06-18,False,False,False,False,False,False,False,False
2014-06-25,False,False,False,False,False,False,False,False
2014-07-02,False,False,False,False,False,False,False,False
2014-07-09,False,False,False,False,False,False,False,False
2014-07-30,False,False,False,False,False,False,False,False
2014-08-06,False,False,False,False,False,False,False,False
2014-08-13,False,False,False,False,False,False,False,False
2014-08-20,False,False,False,False,False,False,False,False
2014-08-27,False,False,False,False,False,False,False,False
2014-09-03,False,False,False,False,False,False,False,False
2014-09-10,False,False,False,False,False,False,False,False
2014-11-05,False,False,False,False,False,False,False,False
2014-11-12,False,False,False,False,False,False,False,False
2014-11-19,False,False,False,False,False,False,False,False
2014-11-25,False,False,False,False,False,False,False,False
2015-01-07,False,False,False,False,False,False,False,False
2015-01-14,False,False,False,False,False,False,False,False
2015-01-21,False,False,False,False,False,False,False,False
2015-01-28,False,False,False,False,False,False,False,False
2015-02-04,False,False,False,False,False,False,False,False
2015-02-11,False,False,False,False,False,False,False,False
2015-03-04,False,False,False,False,False,False,False,False
2015-03-11,False,False,False,False,False,False,False,False
2015-03-18,False,False,False,False,False,False,False,False
2015-03-25,False,False,False,False,False,False,False,False
2015-04-01,False,False,False,False,False,False,False,False
2015-04-08,False,False,False,False,False,False,False,False

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

### BONUS: Create your own question and answer it.